USE [master]
GO
/****** Object:  Database [CuaHangNuocGiaikhat]    Script Date: 11/28/2025 12:54:04 PM ******/
CREATE DATABASE [CuaHangNuocGiaikhat]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CuaHangNuocGiaikhat', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CuaHangNuocGiaikhat.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CuaHangNuocGiaikhat_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CuaHangNuocGiaikhat_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CuaHangNuocGiaikhat].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CuaHangNuocGiaikhat]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 11/28/2025 12:54:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoan] [varchar](100) NOT NULL,
	[RoleID] [int] NOT NULL,
	[CreateDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 11/28/2025 12:54:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[MaCTDH] [int] IDENTITY(1,1) NOT NULL,
	[MaDH] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[TongTien] [int] NOT NULL,
	[Ngaygiao] [int] NOT NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucSP]    Script Date: 11/28/2025 12:54:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucSP](
	[MaDM] [int] IDENTITY(1,1) NOT NULL,
	[TenDM] [nvarchar](200) NOT NULL,
	[AnhDM] [nvarchar](max) NULL,
	[MoTaDM] [nvarchar](500) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 11/28/2025 12:54:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDH] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[NgayTao] [date] NOT NULL,
	[TrangThaiHuyDon] [bit] NOT NULL,
	[ThanhToan] [bit] NOT NULL,
	[NgayThanhToan] [date] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[TongTien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/28/2025 12:54:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](200) NOT NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[AvatarKH] [nvarchar](max) NULL,
	[Diachi] [nvarchar](500) NULL,
	[Ngaysinh] [date] NULL,
	[Phone] [int] NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[Password] [varchar](26) NOT NULL,
	[CreateDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleAccount]    Script Date: 11/28/2025 12:54:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleAccount](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](12) NOT NULL,
	[Mota] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 11/28/2025 12:54:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[MaDM] [int] NULL,
	[TenSP] [nvarchar](200) NOT NULL,
	[AnhSP] [nvarchar](max) NOT NULL,
	[VideoSP] [nvarchar](max) NULL,
	[GiaSP] [int] NOT NULL,
	[TrangThai] [bit] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[BestSeller] [bit] NOT NULL,
	[CreateDate] [date] NOT NULL,
	[NgaySua] [date] NOT NULL,
	[MotaSP] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinTuc]    Script Date: 11/28/2025 12:54:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinTuc](
	[MaTT] [int] IDENTITY(1,1) NOT NULL,
	[TenTT] [nvarchar](200) NOT NULL,
	[AnhTT] [nvarchar](max) NOT NULL,
	[Motangan] [nvarchar](200) NOT NULL,
	[Motadai] [nvarchar](max) NOT NULL,
	[Tacgia] [nvarchar](100) NOT NULL,
	[CreateDate] [date] NOT NULL,
	[LoaiTin] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrangThaiDH]    Script Date: 11/28/2025 12:54:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangThaiDH](
	[MaTTDH] [int] IDENTITY(1,1) NOT NULL,
	[MaDH] [int] NOT NULL,
	[TrangThai] [nvarchar](200) NOT NULL,
	[Mota] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTTDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([AccountID], [TaiKhoan], [RoleID], [CreateDate]) VALUES (13, N'admin@gmail.com', 1, CAST(N'2022-06-07' AS Date))
INSERT [dbo].[Account] ([AccountID], [TaiKhoan], [RoleID], [CreateDate]) VALUES (14, N'user@gmail.com', 3, CAST(N'2025-11-21' AS Date))
INSERT [dbo].[Account] ([AccountID], [TaiKhoan], [RoleID], [CreateDate]) VALUES (15, N'a@gmail.com', 3, CAST(N'2025-11-24' AS Date))
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietDonHang] ON 

INSERT [dbo].[ChiTietDonHang] ([MaCTDH], [MaDH], [MaSP], [TongTien], [Ngaygiao], [SoLuong]) VALUES (1, 1, 1, 24000, 0, 2)
INSERT [dbo].[ChiTietDonHang] ([MaCTDH], [MaDH], [MaSP], [TongTien], [Ngaygiao], [SoLuong]) VALUES (2, 1, 2, 22000, 0, 2)
INSERT [dbo].[ChiTietDonHang] ([MaCTDH], [MaDH], [MaSP], [TongTien], [Ngaygiao], [SoLuong]) VALUES (3, 2, 2, 11000, 0, 1)
SET IDENTITY_INSERT [dbo].[ChiTietDonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhMucSP] ON 

INSERT [dbo].[DanhMucSP] ([MaDM], [TenDM], [AnhDM], [MoTaDM], [TrangThai]) VALUES (1, N'Nước ngọt có ga', N'https://freenice.net/wp-content/uploads/2021/08/Hinh-anh-2-ly-cafe.jpg', N'Các loại nước ngọt có gas', 1)
INSERT [dbo].[DanhMucSP] ([MaDM], [TenDM], [AnhDM], [MoTaDM], [TrangThai]) VALUES (2, N'Trà các loại', N'https://freenice.net/wp-content/uploads/2021/08/Hinh-anh-2-ly-cafe.jpg', N'Trà xanh, trà ô long, trà sữa', 1)
INSERT [dbo].[DanhMucSP] ([MaDM], [TenDM], [AnhDM], [MoTaDM], [TrangThai]) VALUES (3, N'Nước suối & khoáng', N'https://freenice.net/wp-content/uploads/2021/08/Hinh-anh-2-ly-cafe.jpg', N'Nước suối tinh khiết', 1)
SET IDENTITY_INSERT [dbo].[DanhMucSP] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([MaDH], [MaKH], [NgayTao], [TrangThaiHuyDon], [ThanhToan], [NgayThanhToan], [Note], [TongTien]) VALUES (1, 36, CAST(N'2025-11-21' AS Date), 1, 1, CAST(N'2025-11-21' AS Date), NULL, 46000)
INSERT [dbo].[DonHang] ([MaDH], [MaKH], [NgayTao], [TrangThaiHuyDon], [ThanhToan], [NgayThanhToan], [Note], [TongTien]) VALUES (2, 36, CAST(N'2025-11-21' AS Date), 1, 1, CAST(N'2025-11-21' AS Date), NULL, 51000)
INSERT [dbo].[DonHang] ([MaDH], [MaKH], [NgayTao], [TrangThaiHuyDon], [ThanhToan], [NgayThanhToan], [Note], [TongTien]) VALUES (3, 36, CAST(N'2025-11-24' AS Date), 1, 1, CAST(N'2025-11-24' AS Date), NULL, 62000)
SET IDENTITY_INSERT [dbo].[DonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [GioiTinh], [AvatarKH], [Diachi], [Ngaysinh], [Phone], [Email], [Password], [CreateDate]) VALUES (35, N'Hải Trương', N'Nam', N'banh sinh nhat251305680.png', N'test', CAST(N'2001-06-04' AS Date), 3333333, N'admin@gmail.com', N'123456', CAST(N'0001-01-01' AS Date))
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [GioiTinh], [AvatarKH], [Diachi], [Ngaysinh], [Phone], [Email], [Password], [CreateDate]) VALUES (36, N'Nguyễn Văn A', N'Nữ', N'banh sinh nhat253854480.png', N'test địa chỉ1', CAST(N'1999-06-22' AS Date), 1234567880, N'user@gmail.com', N'123456', CAST(N'0001-01-01' AS Date))
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [GioiTinh], [AvatarKH], [Diachi], [Ngaysinh], [Phone], [Email], [Password], [CreateDate]) VALUES (37, N'Nguyễn Thị B', N'Nữ', N'banh sinh nhat254041791.png', NULL, CAST(N'2003-10-07' AS Date), 912345678, N'a@gmail.com', N'123456', CAST(N'2025-11-24' AS Date))
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[RoleAccount] ON 

INSERT [dbo].[RoleAccount] ([RoleID], [RoleName], [Mota]) VALUES (1, N'Admin', N'Quản Lý')
INSERT [dbo].[RoleAccount] ([RoleID], [RoleName], [Mota]) VALUES (3, N'User', N'Người dùng')
SET IDENTITY_INSERT [dbo].[RoleAccount] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([MaSP], [MaDM], [TenSP], [AnhSP], [VideoSP], [GiaSP], [TrangThai], [SoLuong], [BestSeller], [CreateDate], [NgaySua], [MotaSP]) VALUES (1, 1, N'Coca Cola Lon 330ml', N'https://cf.shopee.vn/file/a25f9907c13174f278879d37968f13cc', NULL, 12000, 1, 41, 1, CAST(N'2025-11-21' AS Date), CAST(N'2025-11-21' AS Date), N'Nước ngọt có gas hương cola truyền thống')
INSERT [dbo].[SanPham] ([MaSP], [MaDM], [TenSP], [AnhSP], [VideoSP], [GiaSP], [TrangThai], [SoLuong], [BestSeller], [CreateDate], [NgaySua], [MotaSP]) VALUES (2, 1, N'Pepsi Lon 330ml', N'https://minhcaumart.vn/media/com_eshop/products/8934588012228%201.jpg', NULL, 11000, 1, 39, 1, CAST(N'2025-11-21' AS Date), CAST(N'2025-11-21' AS Date), N'Pepsi lon 330ml vị cola đậm đà')
INSERT [dbo].[SanPham] ([MaSP], [MaDM], [TenSP], [AnhSP], [VideoSP], [GiaSP], [TrangThai], [SoLuong], [BestSeller], [CreateDate], [NgaySua], [MotaSP]) VALUES (3, 1, N'7Up Lon 330ml', N'https://i.pinimg.com/originals/5d/0a/ff/5d0afff9d5747c444602e155451e49b4.jpg', NULL, 10000, 1, 38, 0, CAST(N'2025-11-21' AS Date), CAST(N'2025-11-21' AS Date), N'7Up lon 330ml hương chanh tươi mát')
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[TinTuc] ON 

SET IDENTITY_INSERT [dbo].[TinTuc] OFF
GO
SET IDENTITY_INSERT [dbo].[TrangThaiDH] ON 

INSERT [dbo].[TrangThaiDH] ([MaTTDH], [MaDH], [TrangThai], [Mota]) VALUES (2, 6, N'Đã giao hàng', NULL)
SET IDENTITY_INSERT [dbo].[TrangThaiDH] OFF
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[RoleAccount] ([RoleID])
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([MaDH])
REFERENCES [dbo].[DonHang] ([MaDH])
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaDM])
REFERENCES [dbo].[DanhMucSP] ([MaDM])
GO
ALTER TABLE [dbo].[TrangThaiDH]  WITH CHECK ADD FOREIGN KEY([MaDH])
REFERENCES [dbo].[DonHang] ([MaDH])
GO
USE [master]
GO
